<h1>Hello <%=@user.username %>!</h1>

<% @lists.each do |list|%>
<h2><%= list.name %></h2>
<p>List id: <%= list.id %></p>

<a href="/lists/<%=list.id%>/edit">Edit This List</a><br>
<a href="/lists/<%=list.id%>/delete">Delete This List</a>
<% end %>

<hr>
<a href="lists/new">Create New List</a><br>
<a href="tasks/new">Create New Task</a>